@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --color-primary: #16690F;
  --color-hover: #80f076;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(assets/Images/microgreens.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

header .logo {
  position: relative;
  color: #fff;
  font-size: 28px;
  text-decoration: none;
  font-weight: 600;
}
header .logo:hover {
  color: var(--color-hover);
  
}

header nav {
  position: relative;
}

header nav ul {
  position: relative;
  display: flex;
}

header nav ul li {
  list-style: none;

}

header nav ul li a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}


header .sci {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: invert(1);
}

header .sci:hover {
  animation: pulse 2s;
}

section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 0 100px;
}

section .contentBx {
  position: relative;
  max-width: 600px;
  z-index: 1000;
}

section .contentBx h2 {
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;

}

section .contentBx h2:hover {
  color: var(--color-hover);
}

section .contentBx p {
  font-size: 25px;
  font-weight: 400;
  color: #fff;
}

section .contentBx p:hover {
  color: var(--color-hover);
}

section .contentBx .countdown {
  display: flex;
  margin: 20px 0;
}

section .contentBx .countdown .time {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  margin-right: 20px;
  font-size: 48px;
  min-width: 110px;
  font-weight: 700;
  padding: 10px 5px 15px;
  border-radius: 4px;
  color: var(--color-primary);
}

section .contentBx .countdown .time:hover {
  animation: pulse 2s;
  color: var(--color-hover);
}

section .contentBx .countdown .time span {
  margin-top: -10px;
  font-size: 20px;
  font-weight: 600;
  color: #312747;
}

section .contentBx a {
  position: relative;
  margin-top: 10px;
  display: inline-block;
  background: var(--color-primary);
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 15px 35px;
  text-decoration: none;
  border-radius: 40px;
}

section .vl {
  border: solid white;
  height: 70vh;
  border-radius: 4px;
}

section .contentBx a:hover {
  background: var(--color-hover);
  animation: pulse 2s;
}

section .imgBx img {
  position: relative;
  max-width: 500px;
  width: 100%;
  border-radius: 250px; 
  margin-top: 75px;
}

section .imgBx:hover {
  animation: pulse 2s;
  
}

@media (max-width: 991px) {
  section {
    flex-direction: column;
    padding-top: 150px;
    height: auto;
  }

  section .contentBx {
    max-width: 100%;
  }

  section .vl {
    display: none;
  }

  section .vh {
    margin-top: 50px;
    border-top: solid white;
    border-width: 5px;
    width: 70vw;
    border-radius: 4px;
  }

  
}

@media (max-width: 767px) {

  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
  }

  section {
    flex-direction: column;
    padding: 150px 20px 50px;
    height: auto;
  }
  section .contentBx h2 {
    font-size: 40px;
  }
  section .contentBx p {
    font-size: 26px;
  }
  section .contentBx .countdown .time {
    font-size: 30px;
  }

  section .contentBx a {
    position: relative;
    margin-top: 10px;
    display: inline-block;
    background: #fff;
    color: var(--color-primary);
    font-size: 16px;
    letter-spacing: 2px;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 40px;

  }
}








